﻿@{
    ViewBag.Title = "Home Page";
}
<form>
    <div class="jumbotron">
        TEST THE CHESS GAMES!!

        Note:
        <ul>
            <li>
                The type of the piece is with one letter: Example Tower(T) and Alfil(A)
            </li>
            <li>
                The color is in word: "WHITE" and "BLACK"
            </li>
            <li>
                There is a HORSE in (7,6) if you want test the POSIBLES MOVEMENTS!!
            </li>
        </ul>

    </div>
    <section>
        <fieldset>
            <legend>Test</legend>
            <div>

                X Actual position<input id="Xactual" type="text" />

                Y Actual position <input id="Yactual" type="text" />
            </div>
            <br />
            <div>
                X Final position <input id="Xfinal" type="text" />
                Y Final position <input id="Yfinal" type="text" />
            </div>
            <br />
            <div>
                Color <input id="Color" type="text" />
            </div>
            <br />
            <div>
                Alias <input id="Alias" type="text" />
            </div>
            <br />
            <div>
                <button id="callChessAPI" type="button">Call CHESS api</button>
                <button id="clear" type="reset">Clear imputs</button>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                Result:
            </legend>
            <div id="result">
                <div id="positionActual"></div>
                <div id="message"></div>
                <div id="posiblesMovements"></div>
            </div>
        </fieldset>
    </section>
</form>
@section scripts{
    <script src="~/Scripts/jsHome.js"></script>
}